@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer components {*/
.mockup-code pre:before {
    display: none;
}

.mockup-code:before {
    display: none;
}

.mockup-code pre {
    /*@apply padding-left: 1.25rem;*/
    @apply pl-5
}

/*}*/

@layer utilities {
    .width-minus-scrollbar {
        width: calc(100vw - (100vw - 100%))
    }
}
